// Import page-specific CSS files here.
@import "home";

.nav-link {
  background: none;
}


.cards .btn-primary {
  display: inline-block;
  background-color: #00B8F5;
  border-radius: 50px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

.cards .btn-warning {
  display: inline-block;
  border-radius: 50px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}
