// Import page-specific CSS files here.
@import "home";
@import "show";

.nav-link {
  background: none;
}

submit {
  display: inline;
}

.cards .btn-primary {
  display: inline-block;
  background-color: #167FFB;
  border-radius: 50px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

.cards .btn-warning {
  display: inline-block;
  border-radius: 50px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

.my-slider {
  margin: 0 0 10px 0;
}

div#map.mapboxgl-canvas {
  margin: 30px 40px;
}

// canvas.mapboxgl-canvas {
//   margin-top: 50px;
// }
.mt-4, .my-4 {
  margin-top: 1.5rem !important;
}

.col-md-6 {
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
}

.row {
  margin: 0 0 150px 0;
}

#unique {
  text-align: center;
  margin: 75px 0 75px 0;
}
