 <div class="d-flex flex-column align-items-center">
  <h1>Select your dates</h1>
  <% if current_user == @mentor.user %>
  <p>You can't book yourself</p>
<% else %>
 <%= render 'form' %>
<% end %>
</div>
