 <div class="d-flex flex-column align-items-center">
  <h1>Select your dates</h1>
  <% if current_user == @mentor.user %>
  <p>You can't book yourself</p>
<% else %>
  <%= simple_form_for [@mentor, @booking] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date%>
  <%= f.button :submit, class: "btn btn-success" %>
<% end %>
<% end %>
</div>
