
<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1526948531399-320e7e40f0ca?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);">
  <div class="container">
    <h1>Mentors</h1>
    <p>Find a mentor for your needs</p>
    <a <%= link_to 'View Mentors', mentors_path, class:"btn-primary" %> ></a>
  </div>
</div>

<div class="second_banner">
  <div class="container">
    <h1>Book a mentor today</h1>
  </div>
</div>


<!-- Find a mentor row -->
<div class="row justify-content no-gutters mb-5 mb-lg-0">
  <div class="col-lg-6">
    <img class="img-fluid" src="https://images.unsplash.com/photo-1527689368864-3a821dbccc34?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt>
  </div>
  <div class="col-lg-6">
    <div class="bg-white text-center h-100 Mentor">
      <div class="find d-flex h-100" style="background: black;">
        <div class="mentor-text w-100 my-auto text-center text-lg-left">
          <h4>Mentor</h4>
          <p class="mb-0 text-white-50">
            Whether you're looking to create a start up or further your career, there is a mentor for you.
          </p>
<!--           <hr class="d-none d-lg-block mb-0 ml-0"> -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Create a booking -->
<div class="row justify-content no-gutters">
  <div class="col-lg-6">
  <img class="img-fluid" src="https://images.unsplash.com/photo-1522881193457-37ae97c905bf?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt>
  </div>
  <div class="col-lg-6 order-lg-first">
    <div class="bg-black text-center h-100 Mentor">
      <div class="d-flex bg-black h-100" style="background: black;">
        <div class="mentor-text w-100 my-auto text-center text-lg-right">
          <h4>Bookings</h4>
          <p class="mb-0 text-white-50">
            Schedule a meeting in seconds
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--   <div class="container">
    <h2 class="text-center">Search specialities</h2>
    <div class="cards">

      <div class="card">
        <img src="https://images.unsplash.com/photo-1527689368864-3a821dbccc34?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="">
        <h4>JavaScript</h4>
        <p>Learn JavaScript</p>
      </div>

      <div class="card">
        <img src="https://images.unsplash.com/photo-1522881193457-37ae97c905bf?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="">
        <h4>Ruby on Rails</h4>
        <p>Learn Ruby on Rails</p>
      </div>

      <div class="card">
        <img src="https://images.unsplash.com/photo-1484480974693-6ca0a78fb36b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1504&q=80" alt="">
        <h4>SQL</h4>
        <p>Learn SQL</p>
      </div>

      <div class="card">
        <img src="https://images.unsplash.com/photo-1484480974693-6ca0a78fb36b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1504&q=80" alt="">
        <h4>Python</h4>
        <p>Learn Python</p>
      </div>
 -->
    </div>
  </div>
