<body>
  <div class="search">
    <div class="search_bar">
    <%= form_tag mentors_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a mentor"
      %>
    </div>
    <div class="seach_button">
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
    </div>
  </div>
</body>
