<div class="d-flex flex-column align-items-center">
<%= render 'mentors/search_bar' %>
</div>
<br>

<div class="row">
  <div class="col-md-6 mt-4">
    <div class="my-slider shadow-lg">
      <% @mentors.each do |mentor| %>
      <div>
        <%= render partial: "shared/mentor_card", locals: { mentor: mentor } %>
      </div>
      <% end %>
    </div>
  </div>

  <div class="col-md-6 mt-4">
    <div id="map"
         style="width: 715.5px; height: 435px;"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
</div>
