<div class="d-flex flex-column align-items-center">

<h1>View Mentors</h1>
<%= render 'mentors/search_bar' %>
</div>
<br>

<div class="row">
  <div class="col-md-6 mt-4">
    <div class="my-slider shadow-lg">
      <% @mentors.each do |mentor| %>
      <div>
        <%= render partial: "shared/mentor_card", locals: { mentor: mentor } %>
      </div>
      <% end %>
    </div>
  </div>

  <div class="col-md-6 mt-4">
    <div id="map"
         style="width: 715.5px; height: 435px;"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
</div>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
