<h1>Add New Mentor</h1>
<br/>
<% if current_user == @mentor.user %>
  <p>You can't book yourself</p>
<% else %>
  <%= render 'form', mentor: @mentor %>
<% end %>
<br/>
<%= link_to 'Back', mentors_path, class:"btn btn-dark"  %>
