
 <h3 id="unique">My Bookings:</h3>
  <div class="container">
    <div class="my-slider">
      <% @bookings.each do |booking| %>
      <div>
        <%= render partial: "shared/booking_card", locals: { booking: booking } %>
      </div>
      <% end %>
    </div>
  </div>


  <div class="mentor-profile py-3">
    <h1 id="unique">My Mentor Posts</h1>
    <% @mentors.each do |mentor|  %>
      <div class="grid-2">
        <div class="grid-items">
          <%= render partial: "shared/mentor_card", locals: { mentor: mentor } %>
        </div>
        <div>
          <div class="mentor-requests">
            <h3 class="ml-4">Your Booking Requests:</h3>
           <% mentor.bookings.each do |booking| %>
            <%= render partial: "shared/mentor_request_card", locals: { booking: booking } %>
            <% end %>
         </div>
        </div>
      </div>
    <% end %>
  </div>
