<h1>My Bookings:</h1>
<div class="my-slider">
  <% @bookings.each do |booking| %>
  <div>
    <%= render partial: "shared/booking_card", locals: { booking: booking } %>
  </div>
  <% end %>
</div>


<div class="mentor-profile">
  <h1>My Mentor Posts</h1>
  <% @mentors.each do |mentor|  %>
  <div>
    <%= render partial: "shared/mentor_card", locals: { mentor: mentor } %>
  </div>
</br>
</br>

<h3>Your Booking Requests:</h3>
<div class="mentor-requests">

   <% mentor.bookings.each do |booking| %>
    <%= render partial: "shared/mentor_request_card", locals: { booking: booking } %>
    <% end %>
<% end %>
</div>
</div>
