.card {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  width: 350px;
  height: 425px;
}

.image {
  width: 100%;
}

.card__content {
  line-height: 1.5;
  font-size: 0.9em;
  padding: 15px;
  background: #fafafa;
  overflow: hidden;
  width: 348px;
  height: 153px;
}


.card__info {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eee;
  font-size: 0.8em;
  border-bottom: 2px solid #ccc;
}
